@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
* {
  box-sizing: border-box;
}
img {
  max-width: 10%;
  margin: 50px;
}
body {
  background-color: #3b3fb5;
  width: 98%;
  float: left;
  font-family: 'Itim', cursive;
  color: white;
  font-size: 40px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
